/* ************************************ */
.ch-container .ch-container-menu {
    min-width: 400px;
    max-width: 400px;
    /* min-width: 30%;
    max-width: 30%; */
    /* width: 100vw;
    max-width: 100vw; */
    /* TODO: para telefono width: 100vw;*/
    border-right: 1px solid #ffffff0f;
    display: flex;
    flex-direction: column;
    
}

/* ------------------------------------- */
.ch-container .ch-container-menu .ch-menu-nav {
    width: 100%;
    min-height: 60px;
    padding: 0;
    margin: 0;
    background: var(--header-color);
    color: var(--text-color);
}

.ch-container .ch-container-menu .ch-menu-nav .ch-nav-items {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.ch-container .ch-container-menu .ch-menu-nav .ch-nav-items .ch-nav-item-avatar {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}

.ch-container .ch-container-menu .ch-menu-nav .ch-nav-items .ch-nav-item-avatar img {
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ch-container .ch-container-menu .ch-menu-nav .ch-nav-items .ch-nav-item-icon {
    padding: 0;
    margin: 0;
    min-width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ch-container .ch-container-menu .ch-menu-nav .ch-nav-items .ch-nav-item-icon i {
    margin: 0;
    padding: 0;
}

.ch-container .ch-container-menu .ch-menu-nav .ch-nav-items .ch-nav-item-icon:nth-child(5) {
    min-width: 60px;
    justify-content: flex-start;
    padding-left: 10px;
}

/* ------------------------------------- */

/* ------------------------------------- */
.ch-container .ch-container-menu .ch-menu-search {
    width: 100%;
    min-height: 42px;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
}

.ch-container .ch-container-menu .ch-menu-search .ch-menu-search-content,
.ch-container .ch-container-menu .ch-menu-search .ch-menu-filter-contact {
    height: 100%;
}

.ch-container .ch-container-menu .ch-menu-search .ch-menu-search-content {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.ch-container .ch-container-menu .ch-menu-search .ch-menu-search-content .ch-menu-search-container {
    background-color: var(--header-color);
    min-width: 97%;
    max-width: 97%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.ch-container .ch-container-menu .ch-menu-search .ch-menu-search-content .ch-menu-search-container .ch-menu-search-icon {
    color: var(--text-color);
    margin-right: 35px;
}

.ch-container .ch-container-menu .ch-menu-search .ch-menu-search-content .ch-menu-search-container .ch-menu-search-input {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

.ch-container .ch-container-menu .ch-menu-search .ch-menu-search-content .ch-menu-search-container .ch-menu-search-clear-icon {
    color: var(--text-color);
    cursor: pointer;
    margin-left: 8px;
    display: none;
}

/* Estilos adicionales para los bordes redondeados */
.ch-container .ch-container-menu .ch-menu-search .ch-menu-search-content .ch-menu-search-container .ch-menu-search-icon,
.ch-container .ch-container-menu .ch-menu-search .ch-menu-search-content .ch-menu-search-container .ch-menu-search-input {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ch-container .ch-container-menu .ch-menu-search .ch-menu-filter-contact {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------- */

.ch-container .ch-container-menu .ch-menu-contacts {
    /* min-height: 100%; */
    flex: 1;
    height: 0px;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items {
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item {
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid #ffffff27;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    cursor: pointer;
    /* background-color: red; */
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item:hover {
    background-color: #202c33c1;
    transition: .2s ease-in-out background-color;
    -webkit-transition: .2s ease-in-out background-color;
    -moz-transition: .2s ease-in-out background-color;
    -ms-transition: .2s ease-in-out background-color;
    -o-transition: .2s ease-in-out background-color;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item.activo {
    background-color: var(--item-color-active);
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    min-height: 100%;
    max-height: 100%;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-avatar img {
    padding: 0;
    margin: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info {
    flex: 1;
    min-width: 81%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info .ch-contact-title-date {
    width: 95%;
    height: calc(100%/2);
    display: flex;
    flex-direction: row;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info .ch-contact-title-date .ch-contact-card-title {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 1.1em;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info .ch-contact-title-date .ch-contact-card-date {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 0.7em;
    color: var(--text-color-light);
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info .ch-contact-title-date .ch-contact-card-title span,
.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info .ch-contact-title-date .ch-contact-card-date span {
    margin: 0;
    padding: 0;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info .ch-contact-preview-notification {
    width: 95%;
    max-width: 95%;
    height: calc(100%/2);
    display: flex;
    flex-direction: row;
    font-size: .8em;
    color: var(--text-color-light);
}


.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info .ch-contact-preview-notification .ch-contact-card-preview {
    width: 100%;
    max-width: 100%;
    display: inline-flex;
    position: relative;
    overflow: hidden;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info .ch-contact-preview-notification .ch-contact-card-preview span {
    min-width: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info .ch-contact-preview-notification .ch-contact-card-notification {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.5em;
}

.ch-container .ch-container-menu .ch-menu-contacts .ch-menu-contact-items .ch-menu-contact-item .ch-menu-contact-info .ch-contact-preview-notification .ch-contact-card-notification .ch-contact-card-notification-item {
    display: flex;
    justify-content: center;
}

/* ************************************ */